/* ==== Elements ==== */

body {
	font-weight: 400;
}

header {
	padding-top: 45px;
}

nav h5:hover{
	color: orange;

}

h1 {
	font-family: Comfortaa;
	font-size: 1.5em;
	color: white;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0px;
}

h3 {
	font-size: 1.3em;
}

header h3:hover {
	margin-left: 0.05em;
	transition: transform .2s;
	transform: scale(1.1);
}

p {
	display: block;
	width: 80%;
	font-size: 0.8em;
	margin: auto;
	text-align: justify;
}

form {
	padding: 20px;
}

form > label {
	text-align: left;
}

footer {
	width: 100%;
	height: 60px;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.8);
	display: flex;
}

code {
	width: 80%;
	display: block;
	text-align: left;
	white-space: pre-line; /* keeps all whitespace */
	margin: auto;
	line-height: 1.5em;
}

table {
	font-size: 0.8em;
	margin: auto;
}

tr:nth-child(even) {
	background-color: transparent;
}

tr:nth-child(odd) {
	background-color: transparent;
}

.jumbotron h1 {
	width: 90%;
}
.jumbotron > p {
	width: 80%;
}

#about-text h2,
#projects h2,
#contact h2 {
	text-shadow: 2px 2px 2px lightgray;
	margin-top: -55px;
	position: absolute;
	left: 50%;
	margin-left: -2.2em;
	display: inline-block;
	background-color: forestgreen;
	color: white;
	text-shadow: 2px 2px 2px black;
	border: 4px forestgreen solid;
	border-radius: 5px;
	-webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
}

#about-text h2,
#contact h2 {
	margin-top: -55px;
}

#projects h2 {
	margin-top: -90px;
	margin-left: -3.25em;
	position: absolute;
}


#about-text h2 > span,
#projects h2 > span,
#contact h2 > span {
	display: inline-block;
	transform: skew(20deg);
}


/* ==== IDs ==== */

#about-text{
	border: forestgreen 3px solid;
	padding: 1em;
	width: 100%;
	margin: 80px auto;
}

#contact {
	width: 100%;
	margin: 70px auto;
	padding-top: 10px;
	border: 3px forestgreen solid;
	border-radius: 4px;
}

#form {
	width: 90%;
	margin: 2em auto;
	background-color: lightgray;
	border-radius: 10px;
}

#statsTH,
#currentTH {
	display: none;
}

#currentTH {
	min-width: 165px;
}



/* ==== Classes ==== */

.jumbo-wrapper {
	width: 100%;
	height: 500px;
	background-image: url("images/header-img.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	align-items: center;
}

.jumbotron{
	width: 95%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255,255,255,0.3);
}

.jumbotron .bg-1{
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	margin: auto;
	color: white;
}

.jumbo-but {
	padding: 0.2em 0.5em;
	border-radius: 7px;
}

#projects > .card-group {
	border: forestgreen 3px solid;
	border-radius: 3px;
	width: 100%;
}

.card-group,
.blog-card-group {
	width: 85%;
	margin: auto;
}

.card-group > .card {
	margin-top: 30px;
}

.card-img-top {
  width: 100%;
  height: auto;
	border: 1px gray solid;
}

.card-title {
	display: inline-block;
	margin: 0 4% 10px 4%;
}

.card-text {
	margin-bottom: 50px;
}

.col {
	margin-bottom: 0.5em;
}

.btn-group-center {
	width: 70%;
	left: 0;
	bottom: 15px;
	position: absolute;
	margin: 1% 15%; /* margin = (100% - 70%) / 2   */
}

.btn-primary {
		font-size: 0.75em;
	}

.mt-6 {
	margin-top: 50px;
}

.thumb {
	margin-top: 10px;
	width: 20px;
	height: auto;
}

/* ==== Blog/Thanks Classes/IDs ==== */

#statsTH h5 {
	text-align: center;
}
#statsTH p {
	font-size: 0.9em;
}

#currentTH p {
	text-align: center;
}

.blog-jumbo {
	display: flex;
	vertical-align: top;
	padding: 42px;
	height: 273px;
	color: black;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}

.blog-jumbo h1 {
	order: 1;
	flex-basis: 50%;
}

.blog-card-group {
	max-width:750px;
	margin-top: 50px;
}

.list-group-flush {
	width: 80%;
	margin: auto;
}

.main-text,
.hide-text {
	display: none;
}

.read-more,
.hide-text {
	display: block;
	color: blue;
	text-align: center;
}

.read-more:hover,
.hide-text:hover {
	cursor: pointer;
	color: orange;
}

.thanks {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
	font-family: Comfortaa;
	background-color: white;
	width: 90%;
	text-align: center;
	border: black 2px solid;
	border-radius: 10px;
}

.thanks h1,
.thanks h2,
.thanks p {
	text-align: center;
	color: forestgreen;
}

.thanks h1 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

.thanks h2 {
	font-size: 1em;
}

.thanks p {
	margin: 1em auto;
}

.thanks a {
	color: orange;
	text-decoration: none;
	font-weight: bold;
}

.thanks a:hover {
	text-decoration: underline;
	font-weight: bold;
}

/* ==== Media Queries ==== */

@media (max-width: 820px) {
	.card-group > .card {
		flex-basis: 100%; /*override bootstrap flex mq for above 576px */
	}

	#contact h2 {
		left: 45%;
	}
}

@media (min-width: 576px) {


	#currentTH{
		display: inline-block;
		order: 2;
		width: 250px;
		height: 100px;
		color: white;
		font-size: 0.75em;
		border-radius: 10px;
		margin-right: 20px;
		align-self: flex-end; /* align-self useful for align individual flex items */
	}
/* Make above a flex-container, put text and image side by side */
	#statsTH {
		display: inline-block;
		order: 3;
		width: 170px;
		padding: 0.75em;
		border-radius: 10px;
		color: white;
	}

	.jumbo-but {
		font-size: 1.2em;
	}

	.thumb {
		width: 35px;
	}

	p {
		font-size: 1em;
	}
}

@media(min-width: 630px) and (max-width:1199px) {
	.btn-primary {
		font-size: 0.9em;
	}

	.card-group > .card {
		flex-basis: 100%;
	}

	.card:nth-of-type(odd) {
		margin-right: 5%;
	}

	#form {
		width: 80%;
	}

}

@media(min-width:830px){

	#about {
		width: 70%;
		margin: auto;
	}

	#about-text p {
		width: 70%;
		margin: 20px auto;
	}

	#projects {
		padding-bottom: 40px;
	}

	#contact {
		width: 70%;
		margin-top: 30px;
	}

	.btn-primary {
		font-size: 0.95em;
	}

	#projects > .card-group {
		width: 90%;
		margin: 30px auto;

	}

	.card-group > .card {
		flex-basis: 40%;
	}

	h1 {
		font-size: 2.5em;
	}

}

	/* Thanks page */
	.thanks {
		width: 60%;
	}

	.thanks h1 {
		font-size: 2em;
		margin-bottom: 0.25em;
	}

	.thanks h2 {
		font-size: 1.25em;
	}

}

@media(min-width:920px){

	p {
		font-size: 1em;
	}
	#form {
		width: 70%;
	}

	.blog-card-group {
		width: 60%;
	}

	.jumbo-but {
		font-size: 1em;
	}

}

@media(min-width:1200px){
	.card-group > .card {
		flex-basis: 28%;
	}

	.card:nth-of-type(1),
	.card:nth-of-type(2),
	.card:nth-of-type(4),
	.card:nth-of-type(5){ /*add margin to first two columns only */
		margin-right: 3%;
	}

	#contact p {
		margin: 2em auto;
	}

	#form label {
		padding: 10px 0;
	}

	h2 {
		padding: 2.5em;
		font-size: 1.9em;
	}

	footer {
		height: 120px;
		font-size: 1.1em;
	}



}
