/* ==== Elements ==== */

body {
	width: 100%;
}

header {
	padding-top: 50px;
}

nav h5:hover{
	color: orange;

}

h1 {
	font-family: Comfortaa;
	font-size: 1.5em;
	color: white;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0px;
}

h3 {
	font-size: 1.3em;
}

p {
	display: block;
	width: 80%;
	font-size: 0.8em;
	margin: auto;
	text-align: justify;
}

form {
	padding: 20px;
}

footer {
	width: 100%;
	height: 60px;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.8);
}

code {
	width: 70%;
	display: block;
	white-space: pre-line;
	margin: auto;  
}

table {
	font-size: 0.8em;
	margin: auto;
}

tr:nth-child(even) {
	background-color: transparent;
}

tr:nth-child(odd) {
	background-color: transparent;
}

.jumbotron h1 {
	width: 90%;
}
.jumbotron > p {
	width: 80%;
}
	
#about h2,
#projects h2,
#contact h2 {
	background-color: dodgerblue;
	width: 100%;
	color: white;

}

#projects h2 {
	margin-top: -15px;
}

/* ==== Classes ==== */

.jumbotron{
	width: 95%;
	max-width: 1000px;
	margin: auto;
	margin-top: 40px;
	background-image: url("images/header-img.jpg");
}

.jumbotron .bg-1{
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	margin: auto;
	color: white;
}

.jumbo-but {
	padding: 0.2em 0.5em;
	border-radius: 7px;
}

.card-group,
.blog-card-group {
	width: 85%;
	margin: auto;
	margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
	border: 1px gray solid;
}

.card-title {
	display: inline-block;
	margin: 0 4% 10px 4%;
}

.card-text {
	margin-bottom: 50px;
}

.col {
	margin-bottom: 0.5em;
}

.btn-group-center {
	width: 70%;
	left: 0;
	bottom: 15px;
	position: absolute;
	margin: 1% 15%; /* margin = (100% - 70%) / 2   */
}

.btn-primary {
		font-size: 0.75em;
	}

.mt-6 {
	margin-top: 50px;
}

.thumb {
	margin-top: 10px;
	width: 20px;
	height: auto;
}

/* ==== Blog/Thanks Classes/IDs ==== */

#statsTH h5 {
	text-align: center;
}
#statsTH p {
	font-size: 0.9em;
}

#currentTH p {
	text-align: center;
}

.blog-jumbo {
	display: flex;
	vertical-align: top;
	padding: 42px;
	height: 273px;
}

.blog-jumbo h1 {
	order: 1;
}

.main-text,
.hide-text {
	display: none;
}

.read-more,
.hide-text {
	color: blue;
}

.read-more:hover,
.hide-text:hover {
	cursor: pointer;
	color: orange;
}

.thanks {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	font-family: Comfortaa;
	background-color: dodgerblue;
	width: 90%;
	text-align: center;
	border: black 2px solid;
	border-radius: 10px;
}

.thanks h1,
.thanks h2,
.thanks p {
	text-align: center;
	color: white;
}

.thanks h1 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

.thanks h2 {
	font-size: 1em;
}

.thanks p {
	margin: 1em auto;
}

.thanks a {
	color: orange;
	text-decoration: none;
}

.thanks a:hover {
	text-decoration: underline;
	font-weight: bold;
}






/* ==== IDs ==== */

#about-text{
	color: black;
	background-color: lightgray;
	width: 100%;
	margin: auto;
}

#projects {
	background-color: lightgray;
}

#form {
	width: 90%;
	margin: auto;
	margin-top: 1.5em;
	background-color: lightgray;
	border-radius: 10px;
}

#statsTH,
#currentTH {
	display: none;
}

 
/* ==== Media Queries ==== */

@media (max-width: 629px) {
	.card-group > .card {
		flex-basis: 100%; /*override bootstrap flex mq for above 576px */
	}
}

@media (min-width: 576px) {
	#about-text {
		width: 80%;
		margin: 30px auto;
		border-radius: 10px;
	}
	
	#currentTH{
		display: inline-block;
		order: 2;
		width: 250px;
		height: 100px;
		color: white;
		font-size: 0.75em;
		border-radius: 10px;
		margin-right: 20px;
		align-self: flex-end; /* align-self useful for align individual flex items */
	}
/* Make above a flex-container, put text and image side by side */
	#statsTH {
		display: inline-block;
		order: 3;
		width: 170px;
		padding: 0.75em;
		border-radius: 10px;
		color: white;
	}
	
	.jumbo-but {
		font-size: 1.2em;
	}
	
	.thumb {
		width: 35px;
	}
	
	p {
		font-size: 1em;
	}
}

@media(min-width: 630px) and (max-width:1199px) {
	.btn-primary {
		font-size: 0.9em;
	}
	
	.card-group > .card {
		flex-basis: 100%;
	}
	/* .card { */
		/* height: 330px; */
	/* } */
	
	.card:nth-of-type(odd) {
		margin-right: 5%;
	}
	
	#form {
		width: 80%;
	}
	
}

@media(min-width:768px){
	.btn-primary {
		font-size: 0.95em;
	}
	
	.card-group > .card {
		flex-basis: 40%;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	/* Thanks page */
	.thanks {
		width: 60%;
	}
	
	.thanks h1 {
		font-size: 2em;
		margin-bottom: 0.25em;
	}

	.thanks h2 {
		font-size: 1.25em;
	}
	
}

@media(min-width:920px){
	
	p {
		font-size: 1em;
	}
	#form {
		width: 70%;
	}
	
	.blog-card-group {
		width: 60%;
	}
	
	/* .card { */
		/* height: 420px; */
	/* } */
	
	.jumbo-but {
		font-size: 1em;
	}
	
}

@media (min-width: 1080px) {
	/* .card { */
		/* height: 440px; */
	/* } */
}
@media(min-width:1200px){
	.card-group > .card {
		flex-basis: 28%;
	}
	
	/* .card { */
		/* height: 390px; */
	/* } */
	.card:nth-of-type(1),
	.card:nth-of-type(2),
	.card:nth-of-type(4),
	.card:nth-of-type(5){ /*add margin to 2nd and 4th element only */
		margin-right: 3%;
	}
	
	#form {
		width: 60%;
	}
}

