header {
	padding-top: 50px;
}

nav h5:hover{
	color: orange;

}

h1 {
	font-family: Comfortaa;
}


/* fixes anchors links to correct position */


.jumbotron{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	background-image: url("images/header-img.jpg");
}

.jumbotron h1,
.jumbotron p {
	color: white;
}

.jumbotron .bg-1{
	background-color: rgba(0,0,0,0.8);
	padding: 0.25em;
	border-radius: 10px;
}

#about {
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: 70%;
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 15px;
}



#projects {
	background-color: lightgray;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	margin-top: 0;
}

#projects h2 {
	background-color: darkgreen;
	color: white;
	margin-top: -15px;
}
footer {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	background-color: darkgreen;
}
.card-group {
	width: 85%;
	margin: auto;
	margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
	border: 1px gray solid;
}

p {
	display: block;
	width: 80%;
	margin: auto;
	text-align: justify;
}

#form {
	width: 60%;
	margin: auto;
	margin-top: 1.5em;
	background-color: lightgray;
	border-radius: 10px;
}

form {
	padding: 20px;
}

.col {
	margin-bottom: 0.5em;
}

.btn-group-center {
	width: 70%;
	left: 0;
	bottom: 10px;
	position: absolute;
	margin: 2% 15%; /* margin = (100% - 70%) / 2   */
}

.card-text {
	margin-bottom: 50px;
}

.card{
	width: 60%;
	margin: auto;
}
#cLearning {
	color: white;
	font-size: 0.75em;
}

#statsTH {
	float: right;
	padding: 0.75em;
	margin: auto;
	color: black;
	border: 2px red solid;
	border-radius: 10px;
}


tr:nth-child(even) {
	background-color: gray;
}

tr:nth-child(odd) {
	background-color: darkgray;
}
	


.mt-6 {
	margin-top: 50px;
}


code {
	width: 70%;
	display: block;
	white-space: pre-line;
	margin: auto;  
}


