body {
	padding-top: 50px;
}

nav h5:hover{
	color: orange;

}

h1 {
	font-family: Comfortaa;
}

iframe {
	width: 100%;
}

.jumbotron{
	width: 70%;
	margin: auto;
	background-image: url("images/header-img.jpg");
}

.jumbotron h1,
.jumbotron p {
	color: white;
}

.jumbotron,
#about {
	border-radius: 10px;
}

#about {
	width: 60%;
	background-color: lightgray;
	margin: auto;
}

.card-group {
	width: 85%;
	margin: auto;
}

.card-img-top {
    width: 100%;
    height: auto;
	border: 1px gray solid;
}

p {
	display: block;
	width: 80%;
	margin: auto;
	text-align: justify;
}

#form {
	width: 60%;
	margin: auto;
	margin-top: 1.5em;
	background-color: lightgray;
	border-radius: 10px;
}

form {
	padding: 20px;
}

.col {
	margin-bottom: 0.5em;
}

.btn-group-center {
	width: 70%;
	left: 0;
	bottom: 10px;
	position: absolute;
	margin: 0 15%;
}

.card-text {
	margin-bottom: 50px;
}
